/* Basic styling */
body {
    font-family: 'Baloo-Regular', mulish;
    margin: 0;
    padding: 0;
    background-color: #121212;
}

/* Header styling with a gradient background */
header {
    background: linear-gradient(90deg, #00a2ff, #002fff);
    color: white;
    text-align: center;
    padding: 30px;
    border-radius: 0 0 20px 20px;
}

header h1 {
    font-size: 2em;
    margin: 0;
}

header p {
    font-size: 1.2em;
    margin-top: 5px;
}

/* Main content styling */
.content {
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
}

/* Server description styling */
.description {
    margin-bottom: 30px;
    color: white;
    background: #242222;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Social links styling */
.social-links {
    color: white;
    background: #242222;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.social-links ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.social-links ul li {
    display: inline-block;
    margin-right: 20px;
}

.social-links ul li a {
    text-decoration: none;
    color: #d1c1c1;
    font-weight: bold;
    transition: color 0.3s;
}

.social-links ul li a:hover {
    color: #00a2ff;
}

/* Footer styling */
footer {
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 20px 20px 0 0;
}

/* Responsive design for smaller screens */
@media (max-width: 600px) {
    header {
        padding: 20px;
    }

    .content {
        padding: 20px;
    }

    .social-links ul li {
        margin-right: 10px;
    }

    footer {
        padding: 15px;
    }
}
